tr {
    td {
        background: lighten(#ccc, 5%) !important;
        &:nth-child(odd) {
            background: #ccc !important;
        }
    }
    &:hover {
        td {
            background: lighten(orange, 20%) !important;
            color: #fff;
            &:hover {
                background: lighten(orange, 10%) !important
            }
            &.floating {
                background: lighten(limegreen, 20%) !important;
                &:hover {
                    background: lighten(limegreen, 10%) !important
                }
            }
        }
    }
}

.tableau {
    width: 50% !important;
    float: left;
}
