tr {
    &:hover {
        td {
            background: lighten(orange, 20%) !important;
            color: #fff;
            &:hover {
                background: lighten(orange, 10%) !important
            }
        }
    }
}
