html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lucida Sans Unicode', "Lucida Grande", sans-serif;
    font-size: 14px;
}

.tableau {
    &:not(table) {
        min-width: 100%;
        table {
            -webkit-appearance: none;
            border-collapse: collapse;
            thead,
            tbody {
                display: block;
            }
            thead {
                border-bottom: solid 3px #ccc;
                text-align: left;
                th {
                    padding: .5rem;
                    background: #fff;
                }
            }
            tbody {
                td {
                    padding: .5rem;
                    background: lighten(#ccc, 15%);
                    width: 150px;
                    &:nth-child(odd) {
                        background: lighten(#ccc, 10%);
                    }
                }
            }
        }
    }
}

table.tableau {
    display: none;
}
